version: '3'
services:
  node-app:
    build: .
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - PORT=4000
    env_file:
      - ./.env
    command: npm run start
  postgres-runner:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=abcduser
      - POSTGRES_PASSWORD=abcdpsw
      - TEST=test
    volumes:
      - /home/ubuntu/horticorp-online-vipani/postgres-db-volume/:/var/lib/postgresql/data